{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
{% endblock %}
{% block breadcrumb %}Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a>{% endblock %}
{% block title %}<h1>Upload new File</h1>{% endblock %}

{% block content %}
<form action="." enctype="multipart/form-data" method="post" style="padding-left: 2em;">
  {% csrf_token %}
  <table class="form">
  {{ form.up_file.errors }}{{ form.up_file }}
  </table>
  <input type="submit" value="Upload">
</form>
{% endblock %}
