{% extends "base.html" %}
{% load translator %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#images-head").toggle(
    function() {$("#images-body").show('slow'); $("#images-head").attr('class', 'sect-open');},
    function() {$("#images-body").hide(); $("#images-head").attr('class', 'sect-closed');}
  );
  $("a[rel=imgbox]").colorbox();
});
</script>
{% endblock %}

{% block breadcrumb %}Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a>{% endblock %}
{% block title %}
  {% if is_admin %}<div style="float:right; padding-top: 2em;">
    <img src="{{ STATIC_URL }}img/delete.png" onclick="return delete_doc('{% url document_delete series.uuid doc.pk %}', '{{ csrf_token }}');">
    </div>{% endif %}
  <h1>{{ doc.title }}</h1>
{% endblock %}

{% block content %}
<div class="block">
  <div style="float: left; margin-right: 0.3em;"><img src="{{ STATIC_URL}}img/odt.png"></div>
  <em>Original document ({{ doc.total_str}} strings):</em>
  <div style="padding-left: 1em;">{{ doc|doc_original|safe }}</div>
  <div class="note">(uploaded on {{ doc.up_time }})</div>
</div>

<div><img style="margin: 2em 0 2em 12em;" src="{{ STATIC_URL }}img/down_arrow.png"></div>

<div class="block">
  <div style="float: left; margin-right: 0.3em;"><img src="{{ STATIC_URL}}img/generic.png"></div>
  {% if is_translator %}
  <div style="float:right"><a href="{% url translation_upload series.uuid doc.pk trans_pk %}" class="button" title="Upload a translated po file">Upload</a></div>
  {% endif %}
  <div style="float:left">
    <em>Translation file:</em>
    <div style="padding-left: 1em;">{{ doc|doc_translation:language|safe }}</div>
    {% if not trans == None %}
    <div class="note">(uploaded on {{ trans.up_time }})</div>
    {% endif %}
  </div>

  <div style="float:left; margin-left: 2em;">
    <div style="color: #666666; font-size: 200%">{{ doc|show_stats:language|safe }}</div>
    <div style="margin-top: 0.5em; text-align: center;">
      {% if trans == None or not trans.reserved_by %}
        {% if is_translator %}<a class="button" href="." onclick="return reserve_trans('{% url document_reserve series.uuid doc.pk language.code 'on' %}', '{{ csrf_token }}')">Reserve Translation</a>{% endif %}
      {% else %}
        {% if trans.reserved_by == user %}
          <div class="messages">You have reserved this document.</div>
          <div style="margin: 0.5em 0;">
            <a class="button" href="." onclick="return reserve_trans('{% url document_reserve series.uuid doc.pk language.code 'off' %}', '{{ csrf_token }}')">Release Translation</a>
          </div>
        {% else %}<div class="messages">{{ user }} has reserved this document.</div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div style="float:left; margin-left: 2em;">
    {% if images|length > 0 %}
    <div id="images-head" class="sect-closed"><em>Images ({{ images|length }}):</em></div>
    {% else %}
    <div><em>no images</em></div>
    {% endif %}
    <div id="images-body" style="display:none;">
    {% for img in images %}
      <div style="clear:left;">
        <a id="thumb_{{ img.id }}" href="{% url document_image series.uuid img.pk language.code %}"
           rel="imgbox" title="{{ img.fname }} ({{ img.img_dimensions.0 }}x{{ img.img_dimensions.1 }})">
          {{ img|as_thumbnail|safe }}
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
  <div style="clear:both">
    {% if trans and trans.errors %}
    <div class="errors"><img src="{{ STATIC_URL }}img/warn.png"> The translation file contains errors
      <div class="error_message">{{ trans.errors }}</div>
    </div>
    {% endif %}
  </div>
</div>

<div><img style="margin: 2em 0 2em 12em;" src="{{ STATIC_URL }}img/down_arrow.png"></div>

<div class="block">
  <div style="float: left; margin-right: 0.3em;"><img src="{{ STATIC_URL}}img/odt.png"></div>
  <em>Translated document:</em>
  <div style="padding-left: 1em;">{{ trans|translated_doc|safe }}</div>
</div>
{% endblock %}
