{% extends "base.html" %}

{% block breadcrumb %}Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a>{% endblock %}
{% block title %}<h1>{% if object.pk %}Upload{% else %}Add{% endif %} new Document</h1>{% endblock %}

{% block content %}
<form action="." enctype="multipart/form-data" method="post" style="padding-left: 2em;">
  {% csrf_token %}
  <table class="form">
  {{ form.as_table }}
  </table>
  <input type="submit" value="{% if object.pk %}Upload{% else %}Add{% endif %}">
</form>
{% endblock %}
