{% extends "base.html" %}

{% block extra_head %}
<style TYPE="text/css">
<!--
  input#id_title {
    width: 30em;
  }
-->
</style>
{% endblock %}

{% block title %}<h1>Create new Series</h1>{% endblock %}

{% block content %}
<form action="." enctype="multipart/form-data" method="post" style="padding-left: 2em;">
  {% csrf_token %}
  <table class="form">
  {{ form.as_table }}
  </table>
  <p>Note that you will be able to add more document to this series in later steps.</p>
  <input type="submit" value="Create">
</form>
{% endblock %}
