<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    if (window.opener) {
        window.opener.$.fn.colorbox.load();
        setTimeout(function() { window.opener.$.fn.colorbox.load(); }, 200);
        setTimeout(window.close, 250);
        // Update thumbnails on main page
        $('#thumb_{{ img_id }}', window.opener.document).html('{{ data|safe }}');
    }
});
</script>
</head>
<body>File successfully uploaded</body>
</html>
