{% extends "base.html" %}

{% block title %}<h1>Error: server error (500)</h1>{% endblock %}

{% block content %}
<p>We're sorry but a server error has occurred.</p>
<p>The server administrators have been alerted and will try to resolve it as soon as possible.</p>
{% endblock %}
