<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>ODF-Trans</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/translator.js"></script>
  {% block extra_head %}{% endblock %}
</head>

<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if user.is_authenticated %}
    <div class="loggedin">Logged in as {{ user.username }}&nbsp;<a href="{% url logout %}"><img src="{{ STATIC_URL }}img/logout.png"></a></div>
  {% endif %}
  
  <div class="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
  {% block title %}{% endblock %}
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
